// Colors
$blue:    #0A3641;
$indigo:  #916fc8;
$purple:  #b44593;
$pink:    #dd3675;
$red:     #fa2f44;
$orange:  #ffa053;
$yellow:  #ffdf7e;
$green:   #4fe49e;
$teal:    #9fffe2;
$cyan:    #8eecff;
$grey:    #CCCCCC;
$orange:  #ee7724;
$red:     #d8363a;
$black:   #000000;
$brown:   #c57417;