// PROFILE SCSS

//Bootstrap variable overrides
@import "variables";

//Bootstrap Styles
@import "../../node_modules/bootstrap/scss/bootstrap";

@import "style.scss";

.mb-1 {
  font-size: 13.5px;
}

.imageContainer {
  display: flex;
  justify-content: center;
}