//Bootstrap variable overrides
@import "variables";

//Bootstrap Styles
@import "../../node_modules/bootstrap/scss/bootstrap";

.btn-custom {
  @extend .btn-warning;
  
  &:hover {
    @extend .btn-danger;
  }
}

body {
  background-color: $grey;
}

.h1Style {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 10px;
}

nav li {
  display: inline-block;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  text-align: left;
  border: 1px solid white;
}

nav a:hover {
  text-decoration: underline;
}

nav ul {
  padding: 15px;
}

.navStyle {
  background-color: $white;
  color: $blue;
}

.navContainer {
  display: flex;
  justify-content: end;
}